@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 transition-colors duration-300;
  }
  /* Gradient Border Animation */
/* Gradient Border Animation */
/* Gradient Border Animation */
@keyframes gradient-flow {
    0% {
      border-color: #f72585; /* Pink */
    }
    50% {
      border-color: #3a0ca3; /* Cyan */
    }
    100% {
      border-color: #4cc9f0; /* Light Cyan */
    }
  }
  
  .animate-gradient-border {
    animation: gradient-flow 2s linear infinite;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap');



/* Import Dancing Script font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* Add this to your global styles */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.font-signature {
  font-family: 'Dancing Script', cursive;
}
